{% extends "base.html" %}

{% block title %}Редактировать Персонажа{% endblock %}

{% block content %}
<h2>Редактировать Персонажа: {{ character.name }}</h2>

<form method="POST" action="/characters/{{ character.id }}">
    <input type="hidden" name="_method" value="put">
    <label for="name">Имя:</label>
    <input type="text" id="name" name="name" value="{{ character.name }}" required><br><br>

    <label for="description">Описание:</label>
    <textarea id="description" name="description" rows="4" cols="50">{{ character.description }}</textarea><br><br>

    <!-- Таблица характеристик и навыков -->
    <table border="1">
        <thead>
            <tr>
                <th>Характеристика</th>
                <th>Значение</th>
                <th>Навыки</th>
            </tr>
        </thead>
        <tbody>
            {% for attribute in attributes %}
            <tr>
                <td>{{ attribute.name }}</td>
                <td><input type="number" name="attributes[{{ attribute.id }}]" value="{{ char_attr_values[attribute.name] }}" min="1" max="5" required></td>
                <td>
                    <ul>
                        {% for skill in grouped_skills[attribute.name] %}
                        <li>
                            <label for="skill_{{ skill.id }}">{{ skill.name }}</label>
                            <input type="number" id="skill_{{ skill.id }}" name="skills[{{ skill.id }}]" value="{{ char_skill_values[skill.name] }}" min="0" required>
                        </li>
                        {% endfor %}
                    </ul>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <button type="submit">Сохранить изменения</button>
</form>
{% endblock %}

